body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 40px;
  background-color: #f0f0f0;
  max-width: 450px;
  margin: auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
}

.box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.box input {
  width: 100px;
  margin-right: 10px;
  padding: 5px;
  font-size: 20px;
}

.box p{
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

#rpcButton {
  cursor: pointer;
  margin: auto;
  display: block;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}

#resultValue {
  font-weight: bold;
}